@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap");
li:hover {
  color: black;
}

.navbar_main {
  overflow: hidden;
  top: 0;
  opacity: 0.7;
  position: sticky;
  z-index: 999;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: ease-in-out 0.7s;
}
.navbar_main:hover {
  opacity: 1;
}
.navbar_main .nav_again {
  display: flex;
  flex-direction: row;
}
.navbar_main .nav_again .nav-hover {
  list-style: none;
  margin-right: 50px;
  font-size: 16px;
}
.navbar_main .nav_again .nav-hover a {
  color: #B61E03;
  position: relative;
  transition: ease-in-out 0.5s;
}
.navbar_main .nav_again .nav-hover a:before {
  transition: ease-in-out 0.5s;
  content: "";
  position: absolute;
  background-color: black;
  width: 0;
  left: -10%;
  height: 2px;
  color: #B61E03;
  margin-top: 25px;
}
.navbar_main .nav_again .nav-hover a:hover:before {
  width: 120%;
}
.navbar_main .nav_again .nav-hover a:hover {
  text-decoration: none;
  color: black;
}

.cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
.cards_container .cards {
  background-color: #ddcfcf8c;
  display: flex;
  flex-direction: column;
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider .slides {
  position: relative;
  width: 300%;
  /* adjust based on the number of slides */
  left: 0;
  transition: left 0.5s ease;
  display: flex;
  flex-direction: row;
}
.slider .slides .slide {
  float: left;
  width: 33.3333333333%;
}
.slider .slides .slide .card {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  height: 200px;
  transition: ease-in-out 0.5s;
}
.slider .slides .slide .card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
.slider .slides .slide .card .card-body {
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 3rem;
  border: none;
  color: #B61E03;
  background-color: white;
  opacity: 0.6;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.prev {
  left: -10px;
}

.next {
  right: -10px;
}

.prev:hover, .next:hover {
  opacity: 1;
}
