@{
    ViewBag.Title = "ISM LOGISTICS";
}
<head>

    <link href="~/Content/mainstyle.min.css" rel="stylesheet" />
 
</head>
<body>
    <div class=home_main>
        <div>
            <h1>ISM LOJİSTİK</h1>
            <h3>INTERNATIONAL SUPPLY MANAGAMENT</h3>
            <p>Dünya çapındaki güçlü bağlantılarımız<br /> ile daha önce deneyimlemediğiniz bir<br /> lojistik hizmeti sunuyoruz.</p>

            <button onclick="location.href = '#home_main2';">

                DAHA FAZLA
            </button>

        </div>
    </div>

    <div id=home_main2>
        <div>
            <h1>HAKKIMIZDA</h1>
            <p>ISM Lojistik olarak, yenilikçi bakış açısıyla sektörün nabzını tutan İstanbul’da kurulduk.<br/><br /><br /> Genç ve dinamik ekibimiz yanı sıra sektörde 10 yılı aşkın deneyimli kadromuz ile spesifik ve çözüm odaklı hizmet sunmaktayız. </p>
            <button onclick="location.href = '/Home/Kurumsal';">

                DAHA FAZLA
            </button>

        </div>
    </div>
    <div class="home_main_container container body-content">

      

        <h1 class="layout_title" style="text-align:center; margin-top: 10%;">Hizmetlerimiz</h1>

        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <div class="card card1">
                        <div class="card-body"> HAVAYOLU TAŞIMACILIĞI</div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card card2">
                        <div class="card-body"> KARAYOLU TAŞIMACILIĞI</div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card card3">
                        <div class="card-body"> DENİZYOLU TAŞIMACILIĞI</div>
                    </div>
                </div>
          
                <div class="slide">
                    <div class="card card7">
                        <div class="card-body"> DEPOLAMA HİZMETLERİ</div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card card8">
                        <div class="card-body">SİGORTA HİZMETLERİ</div>
                    </div>
                </div>
                <div class="slide">
                    <div class="card card9">
                        <div class="card-body">DANIŞMANLIK HİZMETLERİ</div>
                    </div>
                </div>
            </div>
            <button class="prev"><</button>
            <button class="next">></button>

        </div>

    </div>


    <script src="~/Content/Jscript.js"></script>
</body>