
@{
    ViewBag.Title = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-bQLm8mXyAaY+nDg+ySkdBLvL8tZs/LeVFKvxzzn1q3v1lffyQfiYcYnJgyAZtZzv8nmRw/xlh+aOgD0UD3X1yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<h2>Kurumsal</h2>

<h1 class="layout_title" style="text-align:left;">About us</h1>
<p>
    As ISM logistics, we were established in Istanbul, which takes the pulse of the industry, with an innovative perspective.<br /><br />

    With our strong connections around the world, we offer a logistics service that you have not experienced before.<br /><br />

    In addition to our young and dynamic team, we aim to provide specific and solution-oriented services with our experienced staff of more than 10 years in the industry.
</p>



<h1 class="layout_title" style="text-align:right;">Değerlerimiz</h1>

<div class="cards_container">

    <div class="cards">
        
        <h4>
            Customer Focused
        </h4>
        <p></p>

    </div>
    <div class="cards">
        <h4>
            Honesty and Trust
        </h4>
        <img src="~/wwwroot/images/handshake.svg" />
        <p></p>

    </div>

    <div class="cards">
        <i class="fad fa-chart-user"></i>
        <h4>
            Work Ethic
        </h4>
        <p></p>

    </div>
    <div class="cards">
        <i class="fad fa-chart-user"></i>
        <h4>
            Social Responsibility
        </h4>
        <p></p>

    </div>
    <div class="cards">
        <i class="fad fa-chart-user"></i>
        <h4>
            Respect for the Environment and Community
        </h4>
        <p></p>

    </div>
    <div class="cards">
        <i class="fad fa-chart-user"></i>
        <h4>
            Solution Oriented
        </h4>
        <p></p>

    </div>


</div>
