
@{
    ViewBag.Title = "ISM LOGISTICS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/mainstyle.min.css" rel="stylesheet" />
</head>
<div class="main_back danismanlik">
    <div>
        <h1>DANIŞMANLIK HİZMETLERİ</h1>
    </div>
</div>
<div class="container body-content">

    <div class="havayolu_maindiv">

        <div>

            <p class="big_font">
                Lojistik alanındaki yenilikleri ve gelişmeleri takip ederek müşterilerime özel çözümler sunmaktayız.

            </p>

        </div>
    </div>


</div>