
@{
    ViewBag.Title = "ISM LOGISTICS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="/Content/mainstyle.min.css" rel="stylesheet" />
</head>

<div class="main_back denizyolu">
    <div>
        <h1>DENİZYOLU TAŞIMACILIĞI</h1>
    </div>
</div>

<div class="container body-content">


<div class="havayolu_maindiv">

    <div>

        <p class="big_font">
            Global alandaki çözüm ortaklarımız ile denizyolu taşımacılığında, tüm dünya limanlarına hizmet sağlamaktayız.<br /><br /> Alanında deneyimli kadromuz ile zamanında ve etkin lojistik çözümler sunmaktayız.
        </p>
        <ul style="font-size: 4rem;">
            <li> LCL / Parsiyel Konteyner</li>
            <li>FCL / Full Konteyner</li>
            <li>Transit Taşımacılık</li>
            <li>Intermodal Taşımacılık</li>
            <li>Tehlikeli Madde Taşımacılığı</li>
           

        </ul>
    </div>
</div>



</div>