
@{
    ViewBag.Title = "ISM LOGISTICS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/mainstyle.min.css" rel="stylesheet" />
</head>
<div class="main_back depolama">
    <div>
        <h1>DEPOLAMA HİZMETLERİ</h1>
    </div>
</div>
<div class="container body-content">


<div class="havayolu_maindiv">

    <div>

        <p class="big_font">
            Depo tedarik ağımız ile kısa veya uzun vadeli depolama hizmeti sunmaktayız.
        </p>

    </div>
</div>



</div>