
@{
    ViewBag.Title = "HavaYoluTasimaciligi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<head>
    <link href="~/Content/mainstyle.min.css" rel="stylesheet" />
</head>

<h1 style="text-align:right;">Havayolu Taşımacılığı</h1>
<div class="havayolu_maindiv">
    <div>

    <img style="" src="~/wwwroot/images/hava.png" />

    </div>
    <div>

    <p>
        Uluslararası havayolu taşımacılığında geniş acente ve havayolu ağımız ile ithalat, ihracat ,transit ve cross
        yüklemeleriniz için servis sunmaktayız
    </p>
        <ol style="font-size:1.5rem;">
        <li>Genel Kargo Taşımaları </li>
        <li>Bozulabilir Kargo Taşımaları</li>
        <li>Charter Taşımaları</li>
        <li>Mühimmat ve Ağır Silah Taşımalar</li>
        <li> Tehlikeli Madde Taşımaları</li>
        <li>Transit Taşımalar</li>
        <li>Konsolide/Standard/ Express Servisler</li>
         </ol>
    </div>
</div>
