
@{
    ViewBag.Title = "ISM LOGISTICS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/mainstyle.min.css" rel="stylesheet" />
</head>
<div class="main_back karayolu">
    <div>
        <h1>KARAYOLU TAŞIMACILIĞI</h1>
    </div>
</div>
<div class="container body-content">

<div class="havayolu_maindiv">

    <div>

        <p class="big_font">
            Global alandaki çözüm ortaklarımız ile karayolu taşımacılığında, parsiyel ve komple taşıma hizmeti sağlamaktayız.

        </p>
        <ul style="font-size: 4rem;">
            <li>Komple Tenteli Tır yüklemeleri </li>
            <li>Parsiyel Tır yüklemeleri</li>
            <li>Frigorifik Taşımalar</li>
            <li>Transit Taşımacılık</li>
            <li> Lowbed Taşımalar</li>
            <li>Intermodal Taşımacılık</li>
           
        </ul>
    </div>
</div>

</div>