
@{
    ViewBag.Title = "ISM LOGISTICS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/mainstyle.min.css" rel="stylesheet" />
</head>
<div class="main_back sigorta">
    <div>
        <h1>SİGORTA HİZMETLERİ</h1>
    </div>
</div>


<div class="container body-content">


    <div class="havayolu_maindiv">
 
        <div>

            <p class="big_font">
                Anlaşmalı olduğumuz sigorta şirketleri ile lojistik taşımalarında hasar görme riskini teminat altına alarak poliçe servisi sunmaktayız.
            </p>

        </div>
    </div>

</div>