
@{
    ViewBag.Title = "ISM LOGISTICS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/mainstyle.min.css" rel="stylesheet" />
</head>
<div class="main_back silahvemuh">
    <div>
        <h1>SİLAH VE MÜHİMMAT<br /> TAŞIMACILIĞI</h1>
    </div>
</div>

<div class="container body-content">


<div class="havayolu_maindiv">   
    <div>
        <p class="big_font" >
            Silah ve mühimmat taşımacılığında deneyimli ve güçlü kadromuz ile güvenilir hizmet sunmaktayız.
        </p>
    </div>
</div>




</div>